@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/button/style/index.min.css"; */



:root {
    --primary-color: #b37d44;
    --secondary-color: #5f654f;
    --text-light: #ffffff;
    --text-dark: #333333;
}

/* Header styling */
header {
    background-color: var(--secondary-color);
    color: var(--text-light);
}

/* Hero section */
.hero-section {
    /* background-image: url('path-to-your-books-image.jpg'); */
    background-size: cover;
    color: var(--primary-color);
}

/* Category cards */
.category-card {
    border-color: var(--primary-color);
}

/* Featured books */
.featured-book-title {
    color: var(--primary-color);
}

/* Footer */
footer {
    background-color: var(--secondary-color);
    color: var(--text-light);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
